canvas { 
	width: 100%; 
}
p.dropdownlist {
	margin:4px; 
	padding:0;
	cursor:pointer;
}
p.dropdownlist:hover {
	background-color:grey;
}
div.dropdownlist {
	opacity:0.8;
	background-color:white;
	position:absolute;
	width:170px;
	max-height:160px;
	overflow-y:auto;
	border:1px dotted green;
	display:none;
	z-index:99999
}